<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>

    <!-- CSS -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- Add other CSS links here -->
    @Styles.Render("~/bundles/admincss")
    @Scripts.Render("~/bundles/adminjs")
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- Content Wrapper -->
        <div class="content-wrapper">
            @RenderBody()
        </div>

        <!-- Footer -->
        <footer class="main-footer">
            <strong>Footer content</strong>
        </footer>
    </div>
    @Scripts.Render("~/bundles/adminjs")
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>
</body>
</html>
